In [1]:
import pandas as pd

df = pd.read_csv('data.csv')

df.head()

,id,Gender,Age,Driving_License,Region_Code,Previously_Insured,Vehicle_Age,Vehicle_Damage,Annual_Premium,Policy_Sales_Channel,Vintage,Response
0,1,Male,44,1,28.0,0,> 2 Years,Yes,40454.0,26.0,217,1
1,2,Male,76,1,3.0,0,1-2 Year,No,33536.0,26.0,183,0
2,3,Male,47,1,28.0,0,> 2 Years,Yes,38294.0,26.0,27,1
3,4,Male,21,1,11.0,1,< 1 Year,No,28619.0,152.0,203,0
4,5,Female,29,1,41.0,1,< 1 Year,No,27496.0,152.0,39,0

In [2]:
df.columns

Index(['id', 'Gender', 'Age', 'Driving_License', 'Region_Code',
       'Previously_Insured', 'Vehicle_Age', 'Vehicle_Damage', 'Annual_Premium',
       'Policy_Sales_Channel', 'Vintage', 'Response'],
      dtype='object')

In [3]:
# df should be converted into dict before we push it to mongodb

data = df.to_dict(orient='records')
data[0]  # first record as dict

{'id': 1,
 'Gender': 'Male',
 'Age': 44,
 'Driving_License': 1,
 'Region_Code': 28.0,
 'Previously_Insured': 0,
 'Vehicle_Age': '> 2 Years',
 'Vehicle_Damage': 'Yes',
 'Annual_Premium': 40454.0,
 'Policy_Sales_Channel': 26.0,
 'Vintage': 217,
 'Response': 1}

In [8]:
import os
from dotenv import load_dotenv

load_dotenv()

COLLECTION_URI = os.environ.get('MONGODB_URI')
DB_NAME = "Vehicle"

COLLECTION_NAME = "Vehicle-Data"

In [10]:
import pymongo

client = pymongo.MongoClient(COLLECTION_URI)
data_base = client[DB_NAME]
collection = data_base[COLLECTION_NAME]

In [11]:
# Uploading data to MongoDB
rec = collection.insert_many(data)

In [12]:
# Load back data from mongodb

df = pd.DataFrame(list(collection.find()))

df.head()

,_id,id,Gender,Age,Driving_License,Region_Code,Previously_Insured,Vehicle_Age,Vehicle_Damage,Annual_Premium,Policy_Sales_Channel,Vintage,Response
0,68dd0aa814af4234c96dea69,1,Male,44,1,28.0,0,> 2 Years,Yes,40454.0,26.0,217,1
1,68dd0aa814af4234c96dea6a,2,Male,76,1,3.0,0,1-2 Year,No,33536.0,26.0,183,0
2,68dd0aa814af4234c96dea6b,3,Male,47,1,28.0,0,> 2 Years,Yes,38294.0,26.0,27,1
3,68dd0aa814af4234c96dea6c,4,Male,21,1,11.0,1,< 1 Year,No,28619.0,152.0,203,0
4,68dd0aa814af4234c96dea6d,5,Female,29,1,41.0,1,< 1 Year,No,27496.0,152.0,39,0